.card{
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-color: rgb(150, 153, 153);

    
}
.card1{
    width: 95%;
    height: 250px;
    border: 2px solid black;
    text-align: center;
    margin-left: 2%;
    background-color: rgb(249, 109, 15);
    opacity: 70%;
  
}
.card_entete{
    margin-left: 2%; 
    background-color: green; 
    width: 25%;
    text-align: center;
    width: 95%;
}
input{
    width: 80%;
}
button{
    width: 80%;
    margin-top: 2%;
}
.tableau{
    width: 50%;
    margin-top: 0%;
    height: 300px;
   

}
body{
    margin-bottom: 0%;
    background-image: url("../image/pexels-files-3745525.jpg");
    background-size: cover;
}
