nav{
    text-align: center;
}
form{
    width: 500px;
    margin:auto;
    background: rgba(0,0,0,6);
    margin-top: 5%;
    opacity: 50%;
    text-align: center;
    height: 80vh;
}
label{
    color: rgb(252, 252, 251);
    font-size: 250%;
    text-align: center;
}
input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
}
button{
    border-radius: 10px;
    width: 30%;
    height: 80px;
    float: right;
    color: rgb(240, 235, 235);
    background-color: rgb(138, 167, 13);
    font-size: 40px;
    margin-top: 50px;
    margin-top: 50%;

}
body{
    background-image: url("../image/pexels-marianna-3843225.jpg");
    background-size: cover;
}
